<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Person Name</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Avi Nash</td>
      <td>Just wow!</td>
      <td>5</td>
      <td>GoodREAD MORE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Tara singh mehra</td>
      <td>Great product</td>
      <td>5</td>
      <td>Nice camera but battery drain fast specially on video recordingREAD MORE</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Narendar Redyy</td>
      <td>Very Good</td>
      <td>4</td>
      <td>Nice UI and FastREAD MORE</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Ajay Kumar</td>
      <td>Brilliant</td>
      <td>5</td>
      <td>Just amazing!READ MORE</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Shivam  kumar</td>
      <td>Terrific purchase</td>
      <td>5</td>
      <td>Thanku filipkart best phone in the world ❤️READ MORE</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Ashwini  biswal</td>
      <td>Good quality product</td>
      <td>4</td>
      <td>Awesome 👍READ MORE</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Rahul Prasad</td>
      <td>Fabulous!</td>
      <td>5</td>
      <td>Best smart phone under this price range compare to other phones in 2023 if you see overall build quality, performance and Camera with autofocus and video action mode are awesome50% extra RAM compared to iPhone 13 and other more features. Best time to upgrade to iPhone 14 . I am so happy See Low light photos are amazing..READ MORE</td>
    </tr>
    <tr>
      <th>7</th>
      <td>SUNNY KUMAR</td>
      <td>Just wow!</td>
      <td>5</td>
      <td>I used iPhone 12 mini and now upgraded with iPhone 14. Camera quality is awesome.Full day battery backup.Super Retina display with high dynamic range is awesome.In terms of camera and battery life is big upgrade for me.READ MORE</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Kajapriya Kannan</td>
      <td>Best in the market!</td>
      <td>5</td>
      <td>Performance is really good and camera quality is fineREAD MORE</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Abhijeet Ghumare</td>
      <td>Best in the market!</td>
      <td>5</td>
      <td>Best in class in all the aspects. Top notch performance for display, camera and everything.READ MORE</td>
    </tr>
  </tbody>
</table>